.git
.gitignore
.venv
.vscode
.pytest_cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.local
next_app/.env.local

node_modules
**/node_modules
next_app/.next

backups
reports
data/**/*.db
data/**/*.db-*

*.log
